* {
    margin: 0;
    font-size: large;
}

body {
    display: flex;
    flex-direction: row;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

/*LEFT SIDE*/
.left {
    max-width: 500px;
    height: 900px;
}

.background-image {
    max-height: 900px;;
}

.image-container {
    position: relative;
    width: 100%;
    z-index: -1;
}

.center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 18%;
    width: 100%;
    background-color: rgba(1,1,1,0.5);

}

.bottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

    gap: 4px;
}

.by,
.haile,
.unsplash {
    color: white;
    font-size: x-small;
}

@font-face {
    font-family: my-font;
    src: url(./images/Norse-Bold.otf);
}

.odin-text {
    font-family: my-font;
    font-size: 100px;
    color: white;
    display: flex;
    text-align: center;
}
.odin-lined {
    width: 20%;
}

.submit {
    background-color: #596D48;
    border-radius: 6px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 12px;
}

.log-in {
    color: #596D48;
    text-decoration: none;
}

/*RIGHT SIDE*/
.right{
    flex: 54%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    background-color: snow;
}

.top-section,
.mid-section,
.bottom-section {
    margin-bottom: 20px;
}

.form-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    gap: 50px;
    
}

.form-column {
    flex-direction: column;
    display: flex;
}

.form-container,
.mid-section {
    width: 100%;
    padding: 11px;
}

.mid-section {
    box-shadow: 1px 1px 1px 1px #888888;
    background-color: white;
}

label,
.form-column input[type='text'],
.form-column input[type='email'],
.form-column input[type='password'],
.form-column input[type='tel'] {
    font-size: 13px;
    
    font-family: 'Times New Roman', Times, serif;
}

.form-column input[type='text'],
.form-column input[type='email'],
.form-column input[type='password'],
.form-column input[type='tel'],
button {
    border: 2px solid #e5e7eb;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-column input[type='password'] {
    border-color: red;
}

.form-column:last-child input[type='text'] {
    border-color: blue;
}

.top-section, .bottom-section {
    width: 600px;
    padding: 25.5px;
}

p {
    padding-top: 10px;
}

.form-text {
    margin-bottom: 15px;
}

.text-1,
.text-2,
.text-3,
a
em {
    font-size: large;
}